main,header {
  max-width: 48rem;
  margin: auto;
}
body {
  padding: 2.25rem 1.25rem;
}
@media(max-width: 40rem)
main,header {
  max-width: none;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.53rem;
}

.home {
  margin-bottom: 0;
}

.home .title {
  text-decoration: none;
  box-shadow: none;
}

.pages {
  flex: 1 1 auto;
}

.pages a {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.social {
  flex: 0 1 auto;
  display: flex;
}

.social img {
  display: block;
  margin-bottom: 0;
  width: 1.53rem;
  height: 1.53rem;
  margin-left: 0.25rem;
}

.nextprev {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}
