<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title}}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">


    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="https://www.nikbrendler.com/img/site_icon.png">
    <meta property="og:url" content="https://www.nikbrendler.com/">
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    <meta name="twitter:image" content="https://www.nikbrendler.com/img/site-icon.png">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="{{ '/css/typography.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.21.0/themes/prism-okaidia.css">
  </head>
  <body>
    <header class="blog-header">
      <h3 class="home"><a class="title" href="{{ '/' | url }}">{{ metadata.title }}</a></h3>
      <nav class="pages">
        <a href="{{ '/projects/' | url }}">projects</a>
      </nav>
      <nav class="social">
        <a href="{{ 'https://github.com/' + metadata.author.github | url }}">
          <img src="{{ '/img/github.png' | url }}" />
        </a>
        <a href="{{ 'https://twitter.com/' + metadata.author.twitter | url }}">
          <img src="{{ '/img/twitter.png' | url }}" />
        </a>
      </nav>
    </header>
    <main>
    {{ content | safe }}
    </main>
  </body>
</html>
